*
!*/
!*.m
!*.slx
!*.dd
!*.txt
!*.sh
!*.in
!*.py
!*.json
!*.epp
!*.yml
!*.cfg
!*.md
!*.xml
!*.template
!Dockerfile
!.gitignore
!*.bash
!*.ps1
!*.toml
!public/*.png
!public/*.svg
.idea/
.pypirc
build/
dist/
*.egg-info/
__pycache__/
*_rtw/
slprj/
*_ep_stubs/
